# i3 config file (v4)
set $mod Mod4
set $browser brave
set $browesr2 chromium
font pango:JetBrainsMono Nerd

# Start XDG autostart .desktop files using dex. See also
# https://wiki.archlinux.org/index.php/XDG_Autostart
exec --no-startup-id dex-autostart --autostart --environment i3

# Network manager
exec --no-startup-id nm-applet

set $refresh_i3status killall -SIGUSR1 i3status
bindsym XF86AudioRaiseVolume exec --no-startup-id pulsemixer --change-volume +5 && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pulsemixer --change-volume -5 && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pulsemixer --toggle-mute && $refresh_i3status

# Use xbacklight to adjust brightness
bindsym XF86MonBrightnessUp exec xbacklight -inc 10 # Increase brightness by 10%
bindsym XF86MonBrightnessDown exec xbacklight -dec 10 # Decrease brightness by 10%

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# g/i
bindcode $mod+42 exec kls

# n/b
bindcode $mod+57 exec $browser; workspace 1
bindcode $mod+Shfit+57 exec $browser2; workspace 1

# h/d
bindcode $mod+43 exec Discord; workspace 2
bindcode $mod+Shift+43 exec teams-for-linux; workspace 2

# ` / \n
bindcode $mod+49 exec kitty; workspace 3
bindcode $mod+36 exec kitty; workspace 3

# x/q
bindcode $mod+Shift+53 kill

# ;/s
bindcode $mod+47 exec "rofi -show drun"
# i/c
bindcode $mod+31 exec "rofi -show calc -modi calc -no-show-match -no-sort -qalc-binary qalc"
# ./v
bindcode $mod+60 exec "clipwatchhistory | rofi -dmenu | xclip -sel clip"

bindsym Print exec "scrot ~/OneDrive/Pictures/Screenshots/%Y-%m-%d-%H_%M_%S.png && xclip -sel clip -t image/png ~/OneDrive/Pictures/Screenshots/%Y-%m-%d-%H_%M_%S.png"
# ;/s
bindcode $mod+Shift+47 exec "flameshot gui"

# change focus
bindcode $mod+44 focus left
bindcode $mod+54 focus down
bindcode $mod+55 focus up
bindcode $mod+33 focus right

# move focused window
bindcode $mod+Shift+44 move left
bindcode $mod+Shift+54 move down
bindcode $mod+Shift+55 move up
bindcode $mod+Shift+33 move right

# split in horizontal orientation: l/n
bindcode $mod+46 split h

# split in vertical orientation: k/t
bindcode $mod+45 split v

# mov current workspace to next monitor: s/o
bindcode $mod+39 move workspace to output next

# enter fullscreen mode for the focused container: y/f
bindcode $mod+29 fullscreen toggle

# change container layout (tabbed, toggle split): d/e , f/u
bindcode $mod+40 layout tabbed
bindcode $mod+41 layout toggle split

# space
# toggle tiling / floating
bindcode $mod+Shift+65 floating toggle
# change focus between tiling / floating windows
bindcode $mod+65 focus mode_toggle

# focus the parent container: a
bindcode $mod+38 focus parent

# focus the child container
bindcode $mod+Shift+38 focus child

gaps inner 10

for_window [class="^.*"] border pixel 2
for_window [class="^.*"] title_format ""

# net
set $ws1 "1"
# com
set $ws2 "2"
# term
set $ws3 "3"
# game
set $ws4 "4"
# misc
set $ws5 "5"

# default workspaces
assign [class="(?i)chromium"] 1
assign [class="(?i)browser"] 1

assign [class="(?i)discord"] 2
assign [class="(?i)teams"] 2

assign [class="(?i)kitty"] 3
assign [class="(?i)code"] 3
assign [class="(?i)Visual"] 3
assign [class="(?i)term"] 3

assign [class="(?i)MultiMC"] 4
assign [class="(?i)Thunher"] 4
assign [class="(?i)Minecraft"] 4
assign [class="(?i)Steam"] 4
assign [class="(?i)Terraria"] 4

assign [class="(?i)Libre"] 4

assign [class="(?i)obs"] 5

# switch to workspace
bindcode $mod+24 workspace number $ws1
bindcode $mod+25 workspace number $ws2
bindcode $mod+26 workspace number $ws3
bindcode $mod+27 workspace number $ws4
bindcode $mod+28 workspace number $ws5

# move focused container to workspace
bindcode $mod+Shift+24 move container to workspace number $ws1
bindcode $mod+Shift+25 move container to workspace number $ws2
bindcode $mod+Shift+26 move container to workspace number $ws3
bindcode $mod+Shift+27 move container to workspace number $ws4
bindcode $mod+Shift+28 move container to workspace number $ws5

# z/;
# reload the configuration file
bindcode $mod+Shift+52 reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindcode $mod+Control+52 restart
# exit i3 (logs you out of your X session)
bindcode $mod+Control+Shift+52 exec i3-msg exit
# lock
bindcode $mod+9 exec betterlockscreen -l

# /-z 
bindcode $mod+Shift+61 exec poweroff
bindcode $mod+Control+61 exec reboot

# m
bindcode $mod+58 exec --no-startup-id xrandr --output HDMI-1 --auto --right-of eDP-1
bindcode $mod+Shift+58 exec --no-startup-id xrandr --output HDMI-1 --auto --left-of eDP-1

# resize window (you can also use the mouse for that)
mode "resize" {
    # These bindings trigger as soon as you enter the resize mode

    # Pressing left will shrink the window’s width.
    # Pressing right will grow the window’s width.
    # Pressing up will shrink the window’s height.
    # Pressing down will grow the window’s height.
    bindcode 44 resize shrink width 10 px or 10 ppt
    bindcode 54 resize grow height 10 px or 10 ppt
    bindcode 55 resize shrink height 10 px or 10 ppt
    bindcode 33 resize grow width 10 px or 10 ppt

    # back to normal: Enter or Escape or $mod+r
    bindcode 36 mode "default"
    bindcode 9 mode "default"
}

# o/r
bindcode $mod+32 mode "resize"

# class                 border  bground text    indicator child_border
client.focused          #007777 #4C4C4C #FFFFFF #8800aa   #007777
client.focused_inactive #8C8C8C #4C4C4C #FFFFFF #4C4C4C   #8C8C8C
client.unfocused        #4C4C4C #222222 #888888 #292D2E   #222222
client.urgent           #EC69A0 #DB3279 #FFFFFF #DB3279   #DB3279
client.placeholder      #000000 #0C0C0C #FFFFFF #000000   #0C0C0C

client.background       #000000

exec --no-startup-id xdg-user-dirs-update

# StartUp
exec_always --no-startup-id startup
